* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #080808;
    color: white;
    text-align: center;
}


/* En-tête */

header {
    padding: 50px 20px;
    background: #111;
}

header img {
    width: 200px;
    max-width: 80%;
}

h1 {
    color: #d4af37;
    font-size: 45px;
}

header p {
    color: #ccc;
    font-size: 20px;
}


/* Sections */

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}


h2 {
    color: #d4af37;
    font-size: 32px;
}


/* Images voitures */

section img {
    width: 90%;
    max-width: 600px;
    border-radius: 15px;
    border: 2px solid #d4af37;
    margin-top: 20px;
}


/* Textes véhicules */

h3 {
    color: #d4af37;
    font-size: 25px;
}


/* Contact */

footer {
    background: black;
    padding: 25px;
    color: #888;
}
